:where(body, h1, h2, h3, h4, h5, h6, p, figure) {
  margin: 0;
}

:where(img) {
  display: block;
  height: auto;
  width: 100%;
}

.wrapper {
  display: grid;
  gap: 30px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .wrapper {
    gap: 60px;
  }
}

.header {
  padding: 30px 0;
}

.header__inner {
  padding: 0 30px;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.section__inner {
  padding: 0 30px;
}

.cards {
  display: grid;
  gap: 60px 0;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .cards {
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: grid;
  gap: 20px 0;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .card {
    grid-template-rows: subgrid;
    grid-row: span 4;
  }
}

.card__heading {
  width: 100%;
}

.card__figure {
  aspect-ratio: 1 / 1;
  order: -1;
  width: 100%;
}

.card__image {
  height: 100%;
  object-fit: contain;
}

.card__text {
  width: 100%;
}

.card__button {
  width: 50%;
}

.card__popup-message {
  color: #fff;
  position: absolute;
  text-align: center;
}

.good-button {
  appearance: none;
  background: #f1f1f1;
  min-height: 40px;
  padding: 10px 1em;
  position: relative;
  transition: 0.3s ease-in-out;
}

.good-button:enabled {
  cursor: pointer;
}

/* ローディングアニメーション */
.good-button__loading {
  animation: loadAnime 2.5s linear;
  border: 3px solid #313131;
  border-left: 3px solid rgba(255, 255, 255, 0.4);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  vertical-align: middle;
}

@keyframes loadAnime {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}

.good-button__loading,
.good-button__loading::after {
  border-radius: 50%;
  opacity: 0;
  height: 15px;
  width: 15px;
}

.good-button:disabled .good-button__loading,
.good-button:disabled .good-button__loading::after {
  opacity: 1;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 30px 0;
}

.footer__inner {
  padding: 0 30px;
}
